@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lexend&family=Mulish:ital,wght@1,900&family=Noto+Sans+Thai+Looped:wght@500&family=Questrial&family=Raleway&display=swap');
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Lexend', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Noto Sans Thai Looped', sans-serif;
  font-family: 'Questrial', sans-serif;
  font-family: 'Raleway', sans-serif;
}
